aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
apscheduler
bcrypt
certifi
cffi
charset-normalizer
click
colorama
cryptography
dateparser
exceptiongroup
fastapi
frozenlist
flask
greenlet
h11
httpcore
httpx
idna
joblib
ta-lib @ ./ta_lib-0.6.3-cp310-cp310-win_amd64.whl
jwt
multidict
matplotlib
numpy
pandas
passlib
propcache
pycparser
pycryptodome
pydantic
pydantic_core
PyJWT
python-binance
python-dateutil
python-dotenv
python-multipart
python-telegram-bot
pytz
regex
requests
requests-oauthlib
requests-toolbelt
rfc3986
scikit-learn
scipy
six